* {
    background-color: hsl(212, 45%, 89%);
}
.attribution { 
    font-size: 11px; 
    text-align: center; 
    display: block;
    margin-top: 10px;
    font-family: "Outfit";
}
.attribution a { color: hsl(228, 45%, 44%); }
#main {
    height: 511px;
    width: 328px;
    background-color: #FFFFFF;
    margin: auto;
    margin-top: 100px;
    border-radius: 13px;
    text-align: center;
    box-shadow: 2px 2px 5px #7D889E ;
}
h1 {
    display: block; 
    background-color: #FFFFFF;
    font-size: 20px;
    font-family: "Outfit";
    margin: 20px 0;
}
p {
    font-family: "Outfit";
    background-color: #FFFFFF;
    color: #7D889E;
    position: relative;
}

#image-qr-code {
    height: 296.11px;
    width: 295.2;
    margin-top: 30px;
    border-radius: 13px;
}


